.c-button {
  --bg-color: #{rgba(SlateGray, .8)};
  --shadow-color: rgba(65, 79, 93, .8);
  --btn-width: 100%; 

  width: var(--btn-width);
  display: inline-block;
  background-color: var(--bg-color);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 3px;
  font-family: 'Fira Code', monospace;
  font-size: 1.4rem;
  cursor: pointer;
  transition: .1s all ease-in;
  box-shadow: 2px 2px 0 var(--shadow-color);
  

  @include mediaTablet {
    --btn-width: auto;
  }

  &:hover {
    --bg-color: SlateGray;
    --shadow-color: #414f5d;
  }

  &--green {
    --bg-color: #{rgba(SeaGreen, .8)};
    --shadow-color: #{darken(SeaGreen, 10%)};
    
    &:hover {
      --bg-color: SeaGreen;
      --shadow-color: #{darken(SeaGreen, 20%)};
    }
  }

  &--blue {
    --bg-color: #{rgba(RoyalBlue, .8)};
    --shadow-color: #{darken(RoyalBlue, 10%)};
    
    &:hover {
      --bg-color: RoyalBlue;
      --shadow-color: #{darken(RoyalBlue, 20%)};
    }
  }
  
  &--red {
    --bg-color: #{rgba(FireBrick, .8)};
    --shadow-color: #{darken(FireBrick, 10%)};
    
    &:hover {
      --bg-color: FireBrick;
      --shadow-color: #{darken(FireBrick, 20%)};
    }
  }

  &--black {
    --bg-color: #333;
    --shadow-color: #222;
    
    &:hover {
      --bg-color: #222;
      --shadow-color: #111;
    }
  }
}