
/*/ 
 / Board Card
/*/

.card {
  --card-height: 100px; 

  height: var(--card-height);
  perspective: 600px;

  @include mediaTablet {
    --card-height: 120px; 
  }

  @include mediaDesktop {
    --card-height: 135px; 
  }

  &__scene {
    height: 100%;
    transition: transform .3s ease-in;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    &.is-flipped {
      transform: rotateY(180deg);
    }
  }

  &__face {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: var(--card-font-size);
    text-align: center;
    border-radius: 3px;
    background: var(--bg-color);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all ease .1s;

    &--front {
      --bg-color: Gainsboro;
      --card-font-size: 6rem;

      backface-visibility: hidden;
      font-weight: 700;
      transition: .1s ease-in all;
      
      &:hover {
        --bg-color: LightYellow;
      }
    }

    &--back {
      --bg-color: SlateGray;
      --card-font-size: 8rem;
      --card-padding: 20px;

      transform: rotateY( 180deg );
      color: white;
      padding: var(--card-padding);

      @include mediaTablet {
        --card-padding: 0;
      }

      svg {
        max-width: 100%;
      }
    }

    &.is-success {
      --bg-color: SeaGreen;
      cursor: default;
    }
  }
}

