.level-setup {
  text-align: center;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 0px #e0e0e0;
  padding: 10px;

  &.is-hidden {
    display: none;
  }

  &__title {
    padding-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 700;

  }
}
